.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 1px !important;
}

.p-2 {
  padding: 2px !important;
}

.p-3 {
  padding: 3px !important;
}

.p-4 {
  padding: 4px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-6 {
  padding: 6px !important;
}

.p-7 {
  padding: 7px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-14 {
  padding: 14px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-18 {
  padding: 18px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-22 {
  padding: 22px !important;
}

.p-24 {
  padding: 24px !important;
}

.p-26 {
  padding: 26px !important;
}

.p-28 {
  padding: 28px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-32 {
  padding: 32px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-1 {
  padding-top: 1px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-14 {
  padding-top: 14px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-58 {
  padding-top: 58px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-62 {
  padding-top: 62px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-22 {
  padding-bottom: 22px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pb-34 {
  padding-bottom: 34px !important;
}

.pb-36 {
  padding-bottom: 36px !important;
}

.pb-38 {
  padding-bottom: 38px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-42 {
  padding-bottom: 42px !important;
}

.pl-padleft {
  padding-bottom: 0px !important;
}

.pl-padleft {
  padding-bottom: 2px !important;
}

.pl-padleft {
  padding-bottom: 4px !important;
}

.pl-padleft {
  padding-bottom: 6px !important;
}

.pl-padleft {
  padding-bottom: 8px !important;
}

.pl-padleft {
  padding-bottom: 10px !important;
}

.pl-padleft {
  padding-bottom: 12px !important;
}

.pl-padleft {
  padding-bottom: 14px !important;
}

.pl-padleft {
  padding-bottom: 16px !important;
}

.pl-padleft {
  padding-bottom: 18px !important;
}

.pl-padleft {
  padding-bottom: 20px !important;
}

.pl-padleft {
  padding-bottom: 22px !important;
}

.pl-padleft {
  padding-bottom: 24px !important;
}

.pl-padleft {
  padding-bottom: 26px !important;
}

.pl-padleft {
  padding-bottom: 28px !important;
}

.pl-padleft {
  padding-bottom: 30px !important;
}

.pl-padleft {
  padding-bottom: 32px !important;
}

.pl-padleft {
  padding-bottom: 34px !important;
}

.pl-padleft {
  padding-bottom: 36px !important;
}

.pl-padleft {
  padding-bottom: 38px !important;
}

.pl-padleft {
  padding-bottom: 40px !important;
}

.pl-padleft {
  padding-bottom: 42px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.ml-34 {
  margin-left: 34px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.ml-38 {
  margin-left: 38px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-160 {
  margin-left: 160px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-34 {
  margin-top: 34px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.mt-38 {
  margin-top: 38px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-160 {
  margin-top: 160px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-80 160 {
  margin-right: 80 160px !important;
}

.w-auto {
  width: autopx !important;
}

.w-0 {
  width: 0px !important;
}

.w-2 {
  width: 2px !important;
}

.w-4 {
  width: 4px !important;
}

.w-6 {
  width: 6px !important;
}

.w-8 {
  width: 8px !important;
}

.w-10 {
  width: 10px !important;
}

.w-12 {
  width: 12px !important;
}

.w-14 {
  width: 14px !important;
}

.w-16 {
  width: 16px !important;
}

.w-18 {
  width: 18px !important;
}

.w-20 {
  width: 20px !important;
}

.w-22 {
  width: 22px !important;
}

.w-24 {
  width: 24px !important;
}

.w-26 {
  width: 26px !important;
}

.w-28 {
  width: 28px !important;
}

.w-30 {
  width: 30px !important;
}

.w-32 {
  width: 32px !important;
}

.w-34 {
  width: 34px !important;
}

.w-36 {
  width: 36px !important;
}

.w-38 {
  width: 38px !important;
}

.w-40 {
  width: 40px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-80 {
  width: 80px !important;
}

.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.w-140 {
  width: 140px !important;
}

.w-160 {
  width: 160px !important;
}

.w-180 {
  width: 180px !important;
}

.w-200 {
  width: 200px !important;
}

.w-220 {
  width: 220px !important;
}

.w-240 {
  width: 240px !important;
}

.w-260 {
  width: 260px !important;
}

.w-280 {
  width: 280px !important;
}

.w-300 {
  width: 300px !important;
}

.m-width-auto {
  max-width: autopx !important;
}

.m-width-100 {
  max-width: 100px !important;
}

.m-width-500 {
  max-width: 500px !important;
}

.m-width-1000 {
  max-width: 1000px !important;
}

.m-width-1500 {
  max-width: 1500px !important;
}

.m-width-1600, .home .firstpart {
  max-width: 1600px !important;
}

.min-h-auto {
  min-height: autopx !important;
}

.min-h-300 {
  min-height: 300px !important;
}

.min-h-500 {
  min-height: 500px !important;
}

.min-h-600 {
  min-height: 600px !important;
}

.min-h-800 {
  min-height: 800px !important;
}

.min-h-1000 {
  min-height: 1000px !important;
}

.min-h-1200 {
  min-height: 1200px !important;
}

.min-h-1500 {
  min-height: 1500px !important;
}

.abhyant-header .header-first {
  width: 100%;
}

.abhyant-header .header-first .navbar-nav .nav-item .nav-link.dropdown-toggle, .abhyant-header .header-first .navbar-nav .nav-item .nav-link.success {
  margin-left: 50px;
  color: #6aaa6a;
}

.abhyant-header.bg-dark {
  background-color: #0e1055 !important;
}

.abhyant-header .logoClass {
  height: 90px;
}

.abhyant-header .product-list ul, .abhyant-header .solution-list ul, .abhyant-header .services-list ul, .abhyant-header .support-list ul, .abhyant-header .about-list ul {
  list-style: none;
}

.dropdown-menu .dropdown-item {
  color: #0e1055 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: white !important;
  color: #6aaa6a !important;
}

.dropdown-menu .dropdown-item .head-color {
  color: #6aaa6a !important;
}

.home .firstpart p:hover {
  font-weight: bold;
  font-size: large;
}

.home .firstpart img {
  height: 500px !important;
  width: 100%;
}

.home .firstpart .second-back img {
  width: 900px !important;
}

.footer {
  background-color: #0e1055;
}

.footer ul li {
  color: #6aaa6a;
  list-style: none;
}

.footer ul li a {
  color: #6aaa6a;
}

.footer ul li a:hover {
  text-decoration: none;
}

.whyus h6 {
  font-size: xx-large;
  margin-bottom: 16px;
  color: steelblue;
}

.electrical-contracting h4, .electrical-switchboard h4, .privacy-policy h4, .terms h4 {
  color: steelblue;
}

.sitemap .footer {
  background-color: white !important;
}

.sitemap .footer li:first-child {
  margin-bottom: 32px !important;
}

.sitemap .footer li {
  margin-bottom: 8px !important;
}

.profile .profile-heading {
  font-size: xx-large;
}

.management .manager-subhead {
  font-size: xx-large;
}
/*# sourceMappingURL=style.css.map */